{% extends 'dashboard.html' %}
{% block content %}
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>noteid</th>
                <th>title</th>
                <th>created_at</th>
                <th>links</th>
            </tr>
        </thead>
        <tbody>
            {% for i in notes_data %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[3]}}</td>
                <td><a href="{{url_for('viewnotes',nid=i[0])}}">View</a>
                <a href="{{url_for('updatenotes',nid=i[0])}}">Update</a>
            <a href="{{url_for('deletenotes',nid=i[0])}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
{% endblock %}
